<div>
<div> <button id="backBtn" [routerLink]="['']">< Back</button></div>
        
<span style="font-weight: bold;">Symbol: {{symbol}}</span> 
    <div *ngFor="let data of sentimentdata; index as i">

        <div style="font-weight: bold;">{{month[data.month]}}</div>
    <div>

<div>Mspr:{{data.mspr}}</div> 
<span>Change:{{data.change}}</span>
<span *ngIf="data.change > 0; else other" style="color: green;">🡹</span>
 <ng-template #other><span  style="color: red;">🢃</span></ng-template>

    </div>
</div>
</div>
